@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "Roboto";
  src: url("../font/RobotoBold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 200; }
:root {
  --black: #101010;
  --grey: #818181;
  --yellow: #ffdd55;
  --red: #de5558;
  --grey-bg: #f7f8f9;
  --black-bg: #191919; }

html, body {
  min-height: 100%; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var(--black); }

a {
  color: var(--black);
  -webkit-transition: all .2s;
  transition: all .2s; }

img {
  max-width: 100%; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex--wrap {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.red {
  color: var(--red); }

/* Firefox 19+ */
/* Firefox 18- */
/* хром, сафари */
.element::-webkit-scrollbar {
  width: 0; }

/* ie 10+ */
.element {
  -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element {
  overflow: -moz-scrollbars-none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  width: calc(100% - 11.25em);
  margin: 0 auto;
  padding-top: 5.5em;
  padding-bottom: 5.5em; }
  .header .container {
    max-width: 100%;
    padding: 0; }

.main-screen-open .header {
  padding-bottom: 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 900; }
  .logo::before {
    content: '';
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: .8571em;
    height: .8571em;
    border-radius: 50%;
    background-color: #de5558;
    margin-right: .75em; }
  .logo span {
    padding: 0 3px; }

.header__options {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900; }
  .header__options .social {
    margin-left: 3em; }

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap; }
  .callback::before {
    content: '';
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4px;
            flex: 0 0 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #de5558;
    margin-right: .75em;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .callback:hover {
    color: var(--red); }

.social li {
  padding: 0 5px; }
  .social li a:hover img {
    -webkit-filter: drop-shadow(0 0 rgba(0, 0, 0, 0.9));
            filter: drop-shadow(0 0 rgba(0, 0, 0, 0.9)); }
.social img {
  max-width: 100%;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s; }

.menu-btn {
  margin-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .menu-btn:hover .menu__dots span {
    background-color: var(--black); }
  .menu-btn.active .menu__dots span:first-child, .menu-btn.active .menu__dots span:nth-child(2) {
    -webkit-transform: translate(4px, -4px);
            transform: translate(4px, -4px); }
  .menu-btn.active .menu__dots span:last-child {
    -webkit-transform: translate(-15px, 4px);
            transform: translate(-15px, 4px); }
  .menu-btn.active .menu__text::before {
    -webkit-transform: translateX(120%);
            transform: translateX(120%); }
  .menu-btn.active .menu__text::after {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }

.menu__text {
  width: 4.75em;
  height: 1em;
  text-align: right;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .menu__text::before {
    content: 'Меню';
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .menu__text::after {
    content: 'Закрыть';
    display: block;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }

.menu__dots {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 30px;
  margin-left: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px); }
  .menu__dots span {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--red);
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .menu__dots span:not(:last-child) {
      margin-right: 8px; }

/*main-screen*/
.main-screen {
  background-color: #edf0f5;
  width: 100%;
  height: 100vh;
  padding-bottom: 5em;
  overflow: hidden; }
  .main-screen .container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.main-screen__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.main-screen__img {
  position: absolute;
  top: 6em;
  right: 0; }
  .main-screen__img img {
    height: 65vh; }

.main-screen__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 6.25em 0;
  position: relative;
  line-height: 1.3;
  z-index: 1; }
  .main-screen__title .h1 {
    font-size: 3.75rem;
    font-weight: 900;
    position: relative;
    z-index: 2; }
  .main-screen__title h2 {
    font-size: 3rem;
    font-weight: 300;
    position: relative;
    z-index: 2; }
  .main-screen__title img {
    position: absolute;
    width: auto;
    position: absolute; }
  .main-screen__title .circles {
    top: 50%;
    left: -10em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .main-screen__title .dots {
    top: 50%;
    left: 1.5em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.main-screen__bottom {
  position: relative;
  z-index: 2; }

.main-screen__contact a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 300; }
  .main-screen__contact a::before {
    content: '';
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #de5558;
    margin-right: .5em; }
  .main-screen__contact a:not(:last-child) {
    margin-right: 5em; }
  .main-screen__contact a:hover {
    color: var(--red); }

.mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mouse__body {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 22px;
  height: 38px;
  border-radius: 12px;
  background-color: #f5939d;
  position: relative; }
  .mouse__body::before {
    content: '';
    width: 6px;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: dot__move infinite 1.5s;
            animation: dot__move infinite 1.5s; }

.mouse__tail {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mouse__tail span {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    border-radius: 50%;
    background-color: #f5939d;
    margin-bottom: 2px;
    -webkit-animation: tail__move infinite 1.5s;
            animation: tail__move infinite 1.5s;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .mouse__tail span:first-child {
      width: 3px;
      height: 3px;
      -webkit-animation-delay: .5s;
              animation-delay: .5s; }
    .mouse__tail span:nth-child(2) {
      width: 4px;
      height: 4px;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .mouse__tail span:last-child {
      width: 6px;
      height: 6px;
      margin-bottom: 0; }

@-webkit-keyframes dot__move {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  10% {
    opacity: 1; }
  90% {
    -webkit-transform: translate(-50%, -15px) scale(0.3);
            transform: translate(-50%, -15px) scale(0.3);
    opacity: 0; }
  100% {
    -webkit-transform: translate(-50%, 0) scale(1);
            transform: translate(-50%, 0) scale(1);
    opacity: 0; } }

@keyframes dot__move {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  10% {
    opacity: 1; }
  90% {
    -webkit-transform: translate(-50%, -15px) scale(0.3);
            transform: translate(-50%, -15px) scale(0.3);
    opacity: 0; }
  100% {
    -webkit-transform: translate(-50%, 0) scale(1);
            transform: translate(-50%, 0) scale(1);
    opacity: 0; } }
@-webkit-keyframes tail__move {
  0%, 100% {
    background-color: var(--black); }
  50% {
    background-color: var(--red); } }
@keyframes tail__move {
  0%, 100% {
    background-color: var(--black); }
  50% {
    background-color: var(--red); } }
/*Footer*/

/*# sourceMappingURL=style.css.map */