/*about-us*/ 
.about-us{
	padding: 6.25em 0 3.125em;
}
.about-us__list{
	counter-reset: number;
	li{
		width: 49%;
		font-size: 1.125em;
		font-weight: 300;
		line-height: 1.5;
		padding: 3.88em 0 1.5em 7.222em;
		margin-bottom: 3.88em;
		position: relative;
		&::before{
			content: '0'counter(number);
			counter-increment: number;
			display: block;
			margin-bottom: 1em;
		}
		&:last-child{
			padding: 0;
			&::before{
				content: '';
				display: none;
			}
		}
	}
}
.about-us--blue{
	&::before{
		color:  #4198f9;
	}
	.about-us__decor::before{
		background-color: #4198f9;
	}
}
.about-us--red{
	&::before{
		color:  #f5939d;
	}
	.about-us__decor::before{
		background-color: #f5939d;
	}
}
.about-us--yellow{
	&::before{
		color:  #ffdd55;
	}
	.about-us__decor::before{
		background-color: #ffdd55;
	}
}
.about-us__decor{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 33%;
	background-color: var(--grey-bg);
	overflow: hidden;
	z-index: -1;
	&::before{
		content: '';
		width: 10em;
		height: 10em;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		transform: translate(-50%, -50%);
	}
	
}
.about-us__notice{
	background: #f5939d url('../img/bg/hand.png') 80% 100% no-repeat;
	font-size: 1.66em;
	color: #fff;
	padding: 1.666em 3.333em;
	transform: translateY(.5em);
}