/*advantages*/ 
.advantages{
	padding: 6.25em;
	color: #fff;
	background:#101010 url('../img/bg/advantage_bg.jpg') left top no-repeat;
	background-size: cover;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
	}
	.column{
		border-color: rgba(#fff, .05);
	}
}
.advantages-slider{
	counter-reset: number;
}
.advantage-slider__content{
	padding: 4.375em 1em; 
	position: relative;
	&::after{
		content: '';
		width: 12.5em;
		height: 12.5em;
		border-radius: 50%;
		background: linear-gradient(to right bottom, transparent 20%, rgba(#ffdd55, .5));
		position: absolute;
		left: 40%;
		top: 50%;
		transform: translate( -40%, -40%);
		opacity: 0;
		transition: all .3s;
	}
	&:hover{
		&::after{
			transform: translate(-50%, -50%);
		}
		&::after,
		h4::after{
			opacity: 1;
		}
	}
	h4{
		display: inline-flex;
		flex-direction: column;
		font-size: 1.85rem;
		font-weight: 500;
		margin-bottom: .5em;
		position: relative;
		&::before{
			content: '0' counter(number);
			counter-increment: number;
			font-size: .4em;
			font-weight: 300;
			color: #f5939d;
			align-self: flex-end;
		}
		&::after{
			content: counter(number);
			font-size: 9rem;
			font-weight: 900;
			background: url('../img/bg/text-bg.jpg') 60% 60% no-repeat;
			-webkit-background-clip: text;
			-o-background-clip: text;
			-moz-background-clip: text;
			-ms-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: transparent;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: opacity .3s;
		}
		span{
			position: relative;
			z-index: 1;
		}
	}
	p{
		font-size: 1.1rem;
		font-weight: 300;
		line-height: 1.4;
		position: relative;
		z-index: 2;
	}
}
.advantages-slider-arrows{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3em;
	.slick-arrow{
		margin: 0 10px;
	}
}