/*Header*/ 
.header{
	width: calc(100% - 11.25em);
	margin: 0 auto;
	padding-top: 5.5em;
	padding-bottom: 5.5em;
	.container{
		max-width: 100%;
		padding: 0;
	}
}
.logo{
	display: flex;
	align-items: center;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 900;
	&::before{
		content: '';
		flex: none;
		width: .8571em;
		height: .8571em;
		border-radius: 50%;
		background-color: #de5558;
		margin-right: .75em;
	}
	span{
		padding: 0 3px;
	}
}

.header__options{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 900;
	.social{
		margin-left: 3em;
	}
}
.callback{
	display: flex;
	align-items: center;
	white-space: nowrap;
	&::before{
		content: '';
		flex: 0 0 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #de5558;
		margin-right: .75em;
		transition: all .3s;
	}
	&:hover{
		color: var(--red);
		
	}
}
.social{
	li{
		padding: 0 5px;
		a{
			&:hover{
				img{
					filter: drop-shadow(0 0 rgba(#000, .9));
				}
			}
		}
	}
	img{
		max-width: 100%;
		transition: filter .3s;
	}
}
.menu-btn{
	margin-left: 3em;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all .3s;
	&:hover{
		.menu__dots{
			span{
				background-color: var(--black);
			}
		}
	}
	&.active{
		.menu__dots{
			span{
				&:first-child,
				&:nth-child(2){
					transform: translate(4px, -4px);
				}
				&:last-child{
					transform: translate(-15px, 4px);
				}
			}
		}
		.menu__text{
			&::before{
				transform: translateX(120%);
			}
			&::after{
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}
.menu__text{
	width: 4.75em;
	height: 1em;
	text-align: right;
	overflow: hidden;
	position: relative;
	transition: all .3s;
	&::before{
		content: 'Меню';
		display: block;
		transition: all .3s;
	}
	&::after{
		content: 'Закрыть';
		display: block;
		transform: translateX(120%);
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: all .3s;
	}
}
.menu__dots{
	flex: none;
	width: 30px;
	margin-left: 8px;
	position: relative;
	display: flex;
	transform: translateY(-1px);
	span{
		flex: none;
		display: block;
		width: 5px;
		height: 5px;
		background-color: var(--red);
		border-radius: 50%;
		transition: all .3s;
		&:not(:last-child){
			margin-right: 8px;
		}
	}
}




