/*individual-descr*/ 
.individual-descr{
	padding: 4em 0;
}
.individual-descr{
	margin: 0 -4.375em;
	li{
		width: 33.3333%;
		padding: 0 4.375em;
		margin-bottom: 4.375em;
	}
}
.individual-descr__item{
	&:hover{
		.first-letter{
			&::after{
				transform: rotate(360deg);
			}
		}
	}
	h4{
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.3;
		margin-bottom: .4em;
	}
	p{
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
	}
}
.first-let{
	display: inline-block;
	font-size: 7rem;
	font-weight: 900;
	text-transform: uppercase;
    line-height: 1;
    background: url(../img/bg/text-bg.jpg) 48% 60% no-repeat;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative;
    &::after{
    	content: '';
    	width: 1.8em;
    	height: 1.8em;
    	border-radius: 50%;
    	background:linear-gradient(to bottom right, transparent 20%, #ffdd55);
    	position: absolute;
    	left: 0;
    	top: 0;
    	z-index: -1;
    	transition: all 5s;
    }
}