:root{
	--black: #101010;
	--grey: #818181;
	--yellow: #ffdd55;
	--red: #f5939d;

	--grey-bg: #f7f8f9;
	--black-bg: #191919;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 16px;
}
body{
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	color: var(--black);
}
.noscroll{
	overflow: hidden;
}
a{
	color: var(--black);
	transition: all .2s;
}
img{
	max-width: 100%;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.container{
	width: 100%;
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 20px;
	&.no-padding{
		padding: 0;
	}
	&--lt{
		max-width: 1180px;
	}
	&--lg{
		padding:  0 4.375em;
	}
	&--fluid{
		max-width: 100%;
		&.no-padding{
			width: 90%;
			margin: 0 auto;
		}
	}
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&--wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	&--center{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&--between{
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

}

.red{
	color: var(--red);
}
.grey-bg{
	background-color: #edf0f5;
}
.blue-bg{
	background-color: #9dd3ef;
}
.brown-bg{
	background-color: #d6c9b5;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.title-row{
	position: relative;
	overflow: hidden;
	&--bg{
		padding-bottom: 4.375em;
		margin-bottom: 0 !important;
		&::after{
			content: '';
			width: 10em;
			height: 10em;
			border-radius: 50%;
			background-color: #f6a1aa;
			position: absolute;
			right: 15%;
			bottom: 0;
			transform: translateY(70%);
			filter: blur(30px);
			z-index: 0;
		}
	}
	
	.title{
		margin-bottom: 0;
		position: relative;
		z-index: 1;
	}
	.mouse{
		position: relative;
		left: 0;
		transform: translate(0, 0);
		z-index: 1;
	}
}
.title{
	margin-bottom: 6.25em;
	h2{
		font-size: 3em;
		font-weight: 500;
	}
	h4{
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 1.5;
		max-width: 75%
	}
	p{
		font-size: 1.5rem;
		margin-top: 1.5em;
		font-weight: 300;
	}
}

h1{
	font-size: 4rem;
	font-weight: 700;
}
h2{
	font-size: 3rem;
	font-weight: 500;
}
h3{
	font-size: 2.5rem;
	font-weight: 500;
}
h4{
	font-size: 2rem;
	font-weight: 300;
}

.btn{
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 200;
	padding: 1.4em 2.9em;
	border: 2px solid var(--yellow);
	border-radius: 50px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	appearance: none;
	transition: all .3s;
	&:hover{
		background-color: var(--yellow);
	}
	&--yellow{
		background-color: var(--yellow);
		&:hover{
			background-color: transparent;
			color: #fff !important;
		}
	}
	&--white-text{
		color: #fff;
		&:hover{
			color: var(--black);
		}
	}
	&--lt{
		padding: .833em 2em;
	}
	&--full{
		width: 100%;
		text-align: center;
	}
	&--black{
		background-color: var(--black);
		color: #fff;
		&:hover{
			border-color: var(--black);
			background-color: #fff;
			color: var(--black);
		}
	}
	
}

.columns{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	.column{
		width: 20%;
		border-right: 1px solid #f3f3f3;
	}
}

.prev-arrow,
.next-arrow{
	display: block;
	position: relative;
	width: 3.75em;
	height: 3.75em;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-bottom: .75em;
	border: 2px solid #000;
	cursor: pointer;
	transition: all .3s;
	&:hover{
		background-color: var(--red);
		border-color: var(--red);
	}
	&.slick-arrow--white{
		background-color: #fff;
		&:hover{
			background-color: var(--red);
			border-color: var(--red);
		}
	}
	&.slick-disabled{
		cursor: default;
		pointer-events: none;
		opacity: .3;
	}
}
.prev-arrow{
	background-image: url('../img/icons/arrow_left.png');
	&.slick-arrow--white{
		background-image: url('../img/icons/arrow_left_white.png');
	}
}
.next-arrow{
	background-image: url('../img/icons/arrow_right.png');
	&.slick-arrow--white{
		background-image: url('../img/icons/arrow_right_white.png');
	}
}
b{
	font-weight: 700;
}

.radio,
.checkbox{
	margin-bottom: 1.5rem;
	input{
		display: none;
		&:checked + label{
			&::before{
				background-image: url('../img/icons/check.svg');
			}
		}
	}
	label{
		display: flex;
		align-items: center;
		font-size: 1.125em;
		font-weight: 300;
		line-height: 1.5;
		cursor: pointer;
		transition: all .3s;
		&::before{
			content: '';
			flex: none;
			width: 2.444em;
			height: 2.44em;
			border-radius: 50%;
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 1.2em;
		}
		&:hover{
			color: var(--red);
		}
		b{
			font-weight: 700;
		}
	}
}

.agree{
	padding: 2.5em 0 0 0;
	input{
		display: none;
		&:checked + label{
			&::before{
				background-image: url('../img/icons/check.svg');
			}
		}
	}
	label{
		display: flex;
		align-items: center;
		font-size: .85rem;
		font-weight: 300;
		line-height: 1.4;
		cursor: pointer;
		&::before{
			content: '';
			flex: none;
			width: 2.8em;
			height: 2.8em;
			border-radius: 50%;
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: .5em;
		}
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

@keyframes moveDown{
	0%{
		transform: translate(0, -100%);
		opacity: 1;
	}
	15%{
		transform: translate(30%, 0%);
	}
	30%{
		transform: translate(60%, 100%);
	}
	45%{
		transform: translate(40%, 150%);
	}
	60%{
		transform: translate(70%, 200%);
	}
	75%{
		transform: translate(30%, 250%);
	}
	90%{
		transform: translate(5%, 300%);
	}
	100%{
		transform: translate(0, 350%);
		opacity: 0;
	}

}

@keyframes rotate{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	100%{
		transform: translate(-50%, -50%) rotate(360deg);
		opacity: 0;
	}
}



::-webkit-input-placeholder {  }
::-moz-placeholder          {  } /* Firefox 19+ */
:-moz-placeholder           {  } /* Firefox 18- */
:-ms-input-placeholder      {  }

// Для стилей автозаполнения полей
// @-webkit-keyframes autofill {
//     to {
//         color: #fff;
//         background: transparent;
//     }
// }

// input:-webkit-autofill {
//     -webkit-animation-name: autofill;
//     -webkit-animation-fill-mode: both;
// }

/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }







