/*menu*/ 
.menu-block{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #edf0f5;
	padding: 12.5em 0;
	overflow: hidden;
	transform: scale(3);
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	transition: all .5s;
	&.active{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
	.social{
		li{
			a{
				&:hover{
					border-color: #fff !important;
					background-color: #fff !important;
				}
			}
		}
	}
}
.menu-block__content{
	width: 50%;
}
.main-menu{
	position: relative;
	width: 23em;
	margin-bottom: 4em;
	& > li{
		font-size: 2.1428em;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 1.5em;
		
		&.active,
		&:hover{
			color: var(--red);
			a{
				color: var(--red);
			}
			.submenu{
				a{
					color: var(--black);
				}
			}
		}
	}
	.drop-li{
		display: flex;
		align-items: center;
		color: var(--black);
		cursor: pointer;
		&::after{
			content: '';
			flex-grow: 1;
			height: 1px;
			margin: 0 20px;
			background-color: #de5558;
			opacity: 0;
			transition: opacity .3s;
		}
		
	}
}
.submenu{
	position: absolute;
	left: 100%;
	top: 0;
	padding-top: .45em;
	opacity: 0;
	transform: translateX(30%);
	visibility: hidden;
	transition: all .3s;
	li{
		font-size: .6em;
		text-transform: initial;
		margin-bottom: 2.77em;
		white-space: nowrap;
		a{
			&:hover{
				color: var(--red) !important;
			}
		}
	}
}

@media(min-width: 1360px){
	.drop-li{
		&:hover{
			.submenu{
				opacity: 1;
				transform: translateX(0);
				visibility: visible;
			}
			&::after{
				opacity: 1;
			}
		}
	}
}

.menu-block__decor{
	width: 45%;
	position: relative;
}
.menu__title{
	font-size: 9rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.5;
	background: url('../img/bg/text-bg-2.jpg') 100% 100% no-repeat;
	-webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	position: relative;
	z-index: 3;
}
.yellow-circle{
	position: absolute;
	width: 17em;
	height: 17em;
	border-radius: 50%;
	background-color: var(--yellow);
	top: 50%;
	left: 50%;
	transform: translate(-80%, -50%);
	z-index: 2;
}
.pink-circle{
	width: 58.75em;
	height: 58.75em;
	border-radius: 50%;
	background-color: #f5939d;
	position: absolute;
	right: -8em;
	bottom: -23em;
}