.service{
	position: relative;
	padding: 6.25em 0 6.5em;
	background:#101010 url('../img/bg/service-bg.png') 100% 100% no-repeat;
	color: #fff;
	overflow: hidden;
	.title{
		margin-bottom: 0;
	}
	.decor-line{
		width: 100%;
		max-width: 1440px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		&::before{
			content: '';
			width: 33.333%;
			height: 1.25em;
			background-color: #ffdd55;
			position: absolute;
			bottom: 0;
		}
	}
	.column{
		border-color: rgba(#fff, .1);
		position: relative;
		&::after{
			content: '';
			width: 8em;
			height: 8em;
			border-radius: 50%;
			background: rgba(#ffdd55, .3);
			filter: blur(30px);
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(0, -100%);
			animation: moveDown infinite 10s linear;
		}
		&:nth-child(2){
			&::after{
				animation-delay: 6s;
			}
		}
		&:nth-child(3){
			&::after{
				animation-delay: 2.5s;
			}
		}
		&:nth-child(4){
			&::after{
				animation-delay: 3s;
			}
		}
		&:nth-child(5){
			&::after{
				animation-delay: 5.2s;
			}
		}
	}
	.container--top{
		position: relative;
		z-index: 2;
	}
}
.top-title{
	font-size: 1.5rem;
	font-weight: 200;
	margin-bottom: 1.5em;
}
.title-row{
	margin-bottom: 6.25em;
}
.service-slider-arrows{
	display: flex;
	align-items: center;
	margin-left: 10em;
	.slick-arrow{
		margin-bottom: 0;
		&:not(:last-child){
			margin-right: 1.25em;
		}
	}
}
.service-slider{
	.slick-list{
		height: 30.625em !important;
		margin-top: -6.25em;
	}
	.slick-track{
		height: 100%;
	}
}
.service-slider__content{
	display: flex;
	align-items: flex-end;
	height: 100%;
}
.service-slider__descr{
	width: 60%;
	h3{
		font-size: 3rem;
		font-weight: 300;
		line-height: 1.2;
		margin-bottom: .8em;
	}
	p{
		font-size: 1.5rem;
		line-height: 1.5;
	}
	.price{
		span{
			display: inline-block;
			&::before{
				content: '';
				width: .3em;
				height: .3em;
				border-radius: 50%;
				background-color: #ffdd55;
				display: inline-block;
				vertical-align: middle;
				margin-right: .2em;
				transform: translateY(-1px);
			}
		}
	}
}
.service-slider__btns{
	margin-top: 2.2em;
	.btn:not(:last-child){
		margin-right: .833em;
	}
}

.service-slider__img{
	width: 40%;
	position: relative;
	img{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30.625em;
		object-fit: cover;
	}
}

